<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Iron Elements -->
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-collapse/iron-collapse.html">

<!-- Style Elements -->
<link rel="import" href="styles/general-style.html">
<link rel="import" href="styles/icons.html">

<!-- Custom Elements -->
<link rel="import" href="elaijs-behaviors.html">
<link rel="import" href="elaiJSApiElements/submenu.html">
<link rel="import" href="elaiJSApiElements/menu.html">

<!-- Widget Elements -->
<link rel="import" href="widgets/body.html">
<link rel="import" href="widgets/navigationArea.html">
<link rel="import" href="widgets/download_fr.html">
<link rel="import" href="widgets/download_en.html">
<link rel="import" href="widgets/home_fr.html">
<link rel="import" href="widgets/home_en.html">
<link rel="import" href="widgets/documentation_widget_fr.html">
<link rel="import" href="widgets/documentation_widget_en.html">