<dom-module id="widget-documentation-widget-en">
  <template>
    <p>
      Here, it's the documentation en.
    </p>
    <p>
The iron-flex-layout component provides simple ways to use CSS flexible box layout, also known as flexbox. This component provides two different ways to use flexbox:
</p>
<p>
Layout classes. The layout class stylesheet provides a simple set of class-based flexbox rules. Layout classes let you specify layout properties directly in markup.
</p>
<p>
Custom CSS mixins. The mixin stylesheet includes custom CSS mixins that can be applied inside a CSS rule using the @apply function.
</p>
<p>
Using the classes or CSS mixins is largely a matter of preference. The following sections discuss how to use the each of the stylesheets.
</p>
    <p>
The iron-flex-layout component provides simple ways to use CSS flexible box layout, also known as flexbox. This component provides two different ways to use flexbox:
</p>
<p>
Layout classes. The layout class stylesheet provides a simple set of class-based flexbox rules. Layout classes let you specify layout properties directly in markup.
</p>
<p>
Custom CSS mixins. The mixin stylesheet includes custom CSS mixins that can be applied inside a CSS rule using the @apply function.
</p>
<p>
Using the classes or CSS mixins is largely a matter of preference. The following sections discuss how to use the each of the stylesheets.
</p>
    <p>
The iron-flex-layout component provides simple ways to use CSS flexible box layout, also known as flexbox. This component provides two different ways to use flexbox:
</p>
<p>
Layout classes. The layout class stylesheet provides a simple set of class-based flexbox rules. Layout classes let you specify layout properties directly in markup.
</p>
<p>
Custom CSS mixins. The mixin stylesheet includes custom CSS mixins that can be applied inside a CSS rule using the @apply function.
</p>
<p>
Using the classes or CSS mixins is largely a matter of preference. The following sections discuss how to use the each of the stylesheets.
</p>
    <p>
The iron-flex-layout component provides simple ways to use CSS flexible box layout, also known as flexbox. This component provides two different ways to use flexbox:
</p>
<p>
Layout classes. The layout class stylesheet provides a simple set of class-based flexbox rules. Layout classes let you specify layout properties directly in markup.
</p>
<p>
Custom CSS mixins. The mixin stylesheet includes custom CSS mixins that can be applied inside a CSS rule using the @apply function.
</p>
<p>
Using the classes or CSS mixins is largely a matter of preference. The following sections discuss how to use the each of the stylesheets.
</p>
    <p>
The iron-flex-layout component provides simple ways to use CSS flexible box layout, also known as flexbox. This component provides two different ways to use flexbox:
</p>
<p>
Layout classes. The layout class stylesheet provides a simple set of class-based flexbox rules. Layout classes let you specify layout properties directly in markup.
</p>
<p>
Custom CSS mixins. The mixin stylesheet includes custom CSS mixins that can be applied inside a CSS rule using the @apply function.
</p>
<p>
Using the classes or CSS mixins is largely a matter of preference. The following sections discuss how to use the each of the stylesheets.
</p>
    <p>
The iron-flex-layout component provides simple ways to use CSS flexible box layout, also known as flexbox. This component provides two different ways to use flexbox:
</p>
<p>
Layout classes. The layout class stylesheet provides a simple set of class-based flexbox rules. Layout classes let you specify layout properties directly in markup.
</p>
<p>
Custom CSS mixins. The mixin stylesheet includes custom CSS mixins that can be applied inside a CSS rule using the @apply function.
</p>
<p>
Using the classes or CSS mixins is largely a matter of preference. The following sections discuss how to use the each of the stylesheets.
</p>
    <p>
The iron-flex-layout component provides simple ways to use CSS flexible box layout, also known as flexbox. This component provides two different ways to use flexbox:
</p>
<p>
Layout classes. The layout class stylesheet provides a simple set of class-based flexbox rules. Layout classes let you specify layout properties directly in markup.
</p>
<p>
Custom CSS mixins. The mixin stylesheet includes custom CSS mixins that can be applied inside a CSS rule using the @apply function.
</p>
<p>
Using the classes or CSS mixins is largely a matter of preference. The following sections discuss how to use the each of the stylesheets.
</p>

  </template>
  
  <script>
    ElaiJSBehaviors.wait(function() {
    Polymer({
      is: 'widget-documentation-widget-en'
    });
    });
  </script>
</dom-module>