<dom-module id="widget-navigationArea">
  <style include="icons-styles"></style>
  <style>
    :host {
      position: fixed;
      height: 100%;
      width: var(--navigationArea-width);
    }
    
    #navigationAreaContainer {
      height: 100%;
      color: var(--light-white-color);
      background-color: var(--dark-black-color);
      border-right: var(--border-size) solid var(--very-dark-black-color);
      position: relative;
    }
    
    #navigationAreaContainer > div {
      width: 100%;
    }
    
    #menuContainer {
      flex-grow: 1;
      overflow: auto;
    }
    
    #logoContainer, #navigationFooter {
      flex-shrink: 0;
    }
    
    #logoContainer {
      border-bottom: var(--border-size) solid var(--very-dark-black-color);;
      flex-basis: auto;
    }
    
    #logoContainer > div {
      height: var(--logo-height);
      margin: auto;
    }
    
    #logoContainer img {
      height: var(--logo-height);
      width: auto;
    }
    
    #navigationFooter {
      flex-basis: 2em;
    }
    
    #navigationFooter select {
      width: 100%;
      height: calc(2em - 4px);
      font-size: 1.1em;
      border: 0;
      background-color: var(--very-dark-black-color);
      background-position: right center;
      color: #9E9E9E;
      font-family: var(--font-family);
      cursor: pointer;
      
      appearance:none;
      -moz-appearance:none;
      -webkit-appearance:none;
    }
    
    #navigationFooter select:hover,
    #navigationFooter select:focus {
      color: var(--light-white-color);
    }
    
  </style>

  <template>
    <div id="navigationAreaContainer" class="layout vertical center">
      <div id="logoContainer" class="layout center horizontal">
        <div><a href="#"><img src="/images/logo.png"></a></div>
      </div>
      <div id="menuContainer"><elaijsapi-menu></elaijsapi-menu></div>
      <div id="navigationFooter">
        <select on-change=languageSelected class="layout center horizontal icon icon36 arrow_down light_white hover_white">
          <option value="fr">Français</option>
          <option value="en">English</option>
        </select>
        {{get(lang)}}
      </div>
    </div>
  </template>
  
  <script>
    ElaiJSBehaviors.wait(function() {
    Polymer({
      is: 'widget-navigationArea',
      behaviors: [ElaiJSBehaviors.Basic,
                  ElaiJSBehaviors.Navigator],
      properties: {
      },
      languageSelected: function(event) {
        var elemSelect = event.target;
        var elemSelectedOptions = elemSelect.options[elemSelect.selectedIndex];
		    var value = elemSelectedOptions.value;
		    
        if(value !== this.lang.getLanguage())
          this.fire("languageSelected", value);
      }
    });
    });
  </script>
</dom-module>